#navup {
  float: right;
  display: inline-block;
  position-left: relative 50px; 
}
a {
  text-decoration: none;
  color: grey;
  font-family: Arial;
}
a:hover {
  text-decoration: underline;
  color: grey;
  font-family: Arial;
}
img {
  padding-top: 120px;
  margin-left: 240px;
}
input {
  margin-left: 120px;
  margin-top: 20px;
  width: 520px;
}
.buttonclass {
  margin-left: 250px;
  margin-top: 40px;
}
button {
	height: 30px;
	width: 115px;
	background-clip: padding-box;
	background-color: #f2f2f2;
	border: solid transparent;
	text-align: center;
	font-size: 11px;
}
#footer {
  position: absolute;
	width: 100%;
  overflow: hidden;
	text-align: center;
	left: 0;
	bottom: 0;
	right: 0;
	background: #f2f2f2;
	line-height: 40px;
  
}
.leftfoot {
  float: left;
  margin-left: 30px;
}
.rightfoot {
  float: right;
  margin-right: 30px;
}
